<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546375450628-qirdfv0u75t7v6kqaj030li5mjqncjv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546375450628-qirdfv0u75t7v6kqaj030li5mjqncjv1</string>
	<key>API_KEY</key>
	<string>AIzaSyDe1OL87_77nx0jMt5wZ0YwI-IUrlmbIhc</string>
	<key>GCM_SENDER_ID</key>
	<string>546375450628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.jec.cm.ANIMAL-BALLAGE</string>
	<key>PROJECT_ID</key>
	<string>animalbarrageonline</string>
	<key>STORAGE_BUCKET</key>
	<string>animalbarrageonline.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546375450628:ios:a22f376d2dc906f6bb3551</string>
</dict>
</plist>